include AUTHORS
include LICENSE
include CONTRIBUTING.md
include CHANGELOG.md
include README.md
recursive-include tximmutability *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
recursive-include tximmutability/locale *.mo
global-exclude __pycache__
global-exclude *.pyc